/* Universal setttings */
* {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
}

/* Body properties */
body {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}

/* Different font for headline */
h1 {
    font-family: 'Chakra Petch', sans-serif;
    color: #0f0f0f;
}

/* Main container */
.about-container {
    height: auto;
    width: 55%;
    pointer-events: none;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
}

/* Styling for main container & paragraph */
.about-container, p {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    padding: 1rem;
    font-size: 2.3rem;
    color: #0f0f0f;
}

/* Font size for paragraph */
.about-text p {
    font-size: 1.2rem;
}

/* Padding between paragraph and slideshow */
.about-text-2 {
    padding-bottom: 4rem;
}


/* -------------------------------External CSS from Codepen Below------------------------------- */

/* Added by me */
.slideshow-headline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}

/* Added by me */
.slideshow-container {
    margin-bottom: 5rem;
    padding-left: 4.7rem;
}

.slideshow { /* Edited class name */
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Styling for next previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #ededed;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Hover for next previous buttons */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Styling for text at the bottom of pictures */
.text {
    color: #ededed; /* Edited by me */
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    /* Added by me */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 6);
}

/* Styling for numbering in top left corner */
.numbertext {
    color: #ededed; /* Edited by me */
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 6); /* Added by me */
}

/* Styling for dots below pictures */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Darker grey highligter to indicate position in the slideshow */
.active,
.dot:hover {
    background-color: #717171;
}

/* Mobile mode */
@media (max-width: 699px) {
    .about-headline {
        font-size: 1.8rem;
    }
    .about-text p {
        font-size: 1rem;
    }
    .slideshow-headline {
        font-size: 1.3rem;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
    .about-headline {
        font-size: 2.5rem;
    }
    .about-text p {
        font-size: 1.2rem;
    }
    .slideshow-headline {
        font-size: 1.6rem;
    }
}