/* font used universally on the website */
* {
    margin: 0px;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* background */
body {
    display: flex;
    flex-direction: column;
    background-color: #F9EBEA;
}

h1 {
    font-family: 'Georama', Arial, Helvetica, sans-serif;
    color: #131212;
}

/* main box */
.about-container {
    height: auto;
    width: 55%;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
}

/* styling for headline */
.about-container,
p {
    text-align: center;
    padding: 1rem;
    font-size: 2.3rem;
    color: #131212;
}

/* specific behavior for list and text */
.about-text p {
    display: flex;
    font-size: 1.2rem;
}

/* some padding between the text and pictures */
.about-text-2 {
    padding-bottom: 4rem;
}


/* -------------------------------External CSS from Codepen Below------------------------------- */

/* Added by me */
.slideshow-container {
    margin-bottom: 5rem;
    padding-left: 4.7rem;
}

/* Edited class name */
.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    /* Added by me */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 6);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    /* Added by me */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 6);
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}