/* Universal setttings */
* {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

/* background */
body {
    display: flex;
    flex-direction: column;
    background-color: #ededed; 
}

p {
    margin-top: -2rem;
}

li {
    margin-top: 0rem;
}

.headline-info {
    font-size: 4rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    color: #0f0f0f;
}

/* styling for headline */
.contact-info h1 {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* main box */
.contact-info {
    height: auto;
    width: 46%;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
}

/* styling for headline */
.contact-info p {
    padding: 2rem;
    text-align: center;
}

.list-container {
    padding: 2rem;
    list-style: none;
    transform-origin: center center;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    color: #0f0f0f;
    overflow: hidden;
    transition: transform 1s ease;
}

.list li {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Chakra Petch', sans-serif;
}

.list-1, .list-2, .list-3, .list-4 {
    transform: translateX(0);
    transition: transform 1s ease;
}

.list-1:hover {
    animation: moveLeftAndBack 1.5s ease forwards;
}

.list-2:hover {
    animation: moveRightAndBack 1.5s ease forwards;
}

.list-3:hover {
    animation: moveLeftAndBack 1.5s ease forwards;
}

.list-4:hover {
    animation: moveRightAndBack 1.5s ease forwards;
}

.list-1:hover, .list-2:hover, .list-3:hover, .list-4:hover {
    transition: transform 0s;
}

@keyframes moveLeftAndBack {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveRightAndBack {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Styling for the contact form */
.contact-form {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 750px;
    border-radius: 8px;
}

.contact-headline {
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: lighter;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: #0f0f0f;
    border: 1px solid #ccc;
    resize: none;
}

.contact-form input[type="text"]:focus, .contact-form textarea:focus {
    border-color: #36e1ff;
    border-width: 2px;
    outline: none;
}

.submit-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #36e1ff;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #ffffff;
    border: none;
    transition: background-color 0.2s ease;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1.6rem;
}

.submit-button:hover {
    background-color: #2597ab;
}

/* Mobile mode */
@media (max-width: 699px) {
    .headline-h1 {
        font-size: 1.7rem;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
    .headline-h1 {
        font-size: 2.5rem;
    }

}