/* Universal setttings */
* {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

/* Background settings */
body {
    display: flex;
    flex-direction: column;
    background-color: #ededed; 
}

/* Margins for contact text */
p {
    margin-top: -2rem;
}

li {
    margin-top: 0rem;
}

/* Headline styling */
.info-headline {
    font-size: 4rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    color: #0f0f0f;
}

/* Styling for h1 in contact container */
.info-container h1 {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Styling for contact container with list items */
.info-container {
    height: auto;
    width: 46%;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    border-radius: 10px;
}

/* Styling for text in container */
.info-container p {
    padding: 2rem;
    text-align: center;
}

.info-list-container {
    padding: 2rem;
    list-style: none;
    transform-origin: center center;
}

/* More styling for the list with contact info */
.info-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.1rem;
    color: #0f0f0f;
    overflow: hidden;
    transition: transform 1s ease;
}

.info-list li {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Chakra Petch', sans-serif;
}

/* Animation effects for list items */
.info-list {
    transform: translateX(0);
    transition: transform 1s ease;
}

.info-list:hover {
    transition: transform 0s;
}

/* Move right, left on hover with a delay */
.info-list-1:hover, .info-list-3:hover {
    animation: moveLeftAndBack 1.5s ease forwards;
}

.info-list-2:hover, .info-list-4:hover {
    animation: moveRightAndBack 1.5s ease forwards;
}

/* Specified pixel length list items will move for left and right */
@keyframes moveLeftAndBack {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveRightAndBack {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Styling for the contact form */
.contact-form {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    max-width: 750px;
    border-radius: 8px;
}

/* Margins for each element in the form */
.headline-form, .form-group {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: lighter;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* Styling for input areas in form */
input[type="text"], textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: #0f0f0f;
    border: 1px solid #ccc;
    resize: none;
}

/* Change the defualt border color when selecting the form areas */
.contact-form input[type="text"]:focus, .contact-form textarea:focus {
    border-color: #36e1ff;
    border-width: 2px;
    outline: none;
}

/* Styling for submit button */
.submit-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #36e1ff;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #ffffff;
    border: none;
    transition: background-color 0.2s ease;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 1.6rem;
}

.submit-button:hover {
    background-color: #2597ab;
}

/* Mobile mode */
@media (max-width: 699px) {
    .info-headline {
        font-size: 1.7rem;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
    .info-headline {
        font-size: 2.5rem;
    }

}