/* font used universally on the website */
* {
    margin: 0px;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* background */
body {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}

h4, p {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* grey box */
.header-cv {
    height: 300px;
    width: 100%;
    min-width: 300px;
    margin-top: -85px;
    text-align: center;
    font-size: 1.4rem;
    color: #ededed;
    background-size: cover;
    background-color: #0f0f0f;
}

/* headline with name and year */
.header-cv h1 {
    padding-top: 6rem;
    font-weight: lighter;
}

.last-name, h2 {
    margin-top: -2.5rem;
    font-size: 2.4rem;
    padding: 2.5rem;
    font-weight: lighter;
}

.cv-header {
    font-weight: lighter;
    font-size: 1.8rem;
}

/* article with content */
.body-cv {
    height: auto;
    width: 46%;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    color: #0f0f0f;
    background-size: cover;
}

/* headline in second box */
.body-cv h3 {
    padding: 3rem;
    text-align: center;
    font-weight: lighter;
    font-size: 1.8rem;
}

.body-cv p {
    padding-top: 0.6rem;
    font-size: 1rem;
}

/* headlines with box element */
.job-headline, .education-headline {
    height: 1px;
    display: flex;
    width: 100%;
    min-width: 300px;
    margin: 1rem 0rem;
    justify-content: center;
    align-items: center;
    color: #ededed;
    background-size: cover;
    background: linear-gradient(to bottom right, #2597ab, #36e1ff);
}

.job-year, .job-company { 
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.job-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.job-description {
    font-size: 1rem;
}

.job1-description {
    margin-bottom: 2.5rem;

}

.education-year, .education-school {
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0.5rem;
}

.education-title {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.education-school1, .education-school2, .education-school3, .education-school4 {
    margin-bottom: 2.5rem;
}

/* Mobile mode */
@media (max-width: 699px) {
    .header-cv {
        height: 200px;
    }
    .first-name, .last-name {
        font-size: 0;
        line-height: 0;
    }
    .cv-header {
        font-size: 2rem;
        margin-top: -1rem;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
    .header-cv {
        height: 200px;
    }
    
    .first-name, .last-name {
        font-size: 1.5rem;
    }
    
    .cv-header {
        font-size: 1.3rem;
        margin-top: -2rem;
    }
}