/* Universal setttings */
* {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

/* Background settings */
body {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}

/* Styling for header container */
.cv-header-container {
    height: 300px;
    width: 100%;
    min-width: 300px;
    margin-top: -85px;
    text-align: center;
    pointer-events: none;
    font-size: 1.4rem;
    color: #ededed;
    background-size: cover;
    background-color: #0f0f0f;
}

/* Styling for h1 headline in header */
.cv-header-container h1 {
    padding-top: 6rem;
    font-weight: 400;
}

/* Styling for h2 headline in header */
.last-name, h2 {
    margin-top: -2.5rem;
    font-size: 2.4rem;
    padding: 2.5rem;
    font-weight: 400;
}

/* Specific styling for h3 in header */
.cv-headline {
    font-weight: lighter;
    font-size: 1.8rem;
}

/* Styling for container for work and school experiences */
.cv-container {
    height: auto;
    width: 46%;
    pointer-events: none;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 3rem;
    justify-content: center;
    align-items: center;
    color: #0f0f0f;
    background-size: cover;
}

/* Styling for h3 in work and school */
.cv-container h3 {
    padding: 3rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
}

/* Styling for p text in work and school */
.cv-container p {
    padding-top: 0.6rem;
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
}

.work, .school {
    font-family: 'Manrope', sans-serif;
}

/* Styling for headlines  */
.job-headline, .education-headline {
    height: 1px;
    display: flex;
    width: 100%;
    min-width: 300px;
    pointer-events: none;
    margin: 1rem 0rem;
    justify-content: center;
    align-items: center;
    color: #ededed;
    background-size: cover;
    background: linear-gradient(to bottom right, #2597ab, #36e1ff);
}

/* Combined styling for year, company and schol */
.job-year, .job-company, .education-year, .education-school {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

/* Styling for job titles */
.job-title, .education-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.job-description {
    font-size: 1rem;
}

/* Added margin between jobs */
.job1-description {
    margin-bottom: 2.5rem;

}

/* Added margin between schools */
.education-school {
    margin-bottom: 2.5rem;
}

/* Mobile mode */
@media (max-width: 699px) {
    /* Removed name & last in header */
    .cv-header-container {
        height: 200px;
    }
    .first-name, .last-name {
        font-size: 0;
        line-height: 0;
    }
    .cv-headline {
        font-size: 2rem;
        margin-top: -1rem;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
    /* Decreased font size in header */
    .cv-header-container {
        height: 200px;
    }
    
    .first-name, .last-name {
        font-size: 1.5rem;
    }
    
    .cv-headline {
        font-size: 1.3rem;
        margin-top: -2rem;
    }
}