/* footer */
.footer {
    height: 15rem;
    padding: 1.5rem;
    margin-top: auto;
    text-align: center;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    background-color: #131212;
}

.footer-title {
    font-weight: bold;
    color: #F9EBEA;
}

.footer-content {
    padding: 0.625rem;
}

.footer-content a {
    text-decoration: none;
    color: #F9EBEA;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* COLORS */
/* Dark red #621b31 = sidebar & button & underline */
/* Red #b2355c = & hover & button */
/* Lighter Red #ea497c = sidebar hover */
/* Dark white red #e3d6d6 = element */
/* White red #F9EBEA = text & background */
/* Black #131212 = header & text & nav>active text */