/* Universal setttings */
* {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
}

/* Background settings */
body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

/* Styling h1 and h2 headline */
h1, h2 {
    padding-bottom: 1rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

/* Styling for "keyword" text under headlines for each element  */
h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}

/* Keeps the start elements in place */
header {
    margin-left: auto;
    margin-right: auto;
}

/* Keeps the card elements in place */
section {
    margin-left: auto;
    margin-right: auto;
}

/* Flex for start-1 and start-2 */
.start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-size: cover;
}

/* Flex for text in start containers */
.start-text {
    margin-top: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* Styling for link text */
.start-link-button {
    color: #36e1ff;
    font-size: 1.3rem;
    transition: 0.2s ease;
}

.start-link-button:hover {
    color: #2597ab;
}

/* Specific styling and flex for first element */
.start-1 {
    height: 45rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/start-1-bg.jpg');
    color: #ededed;
}

.start-1-name, .start-1-title {
    color: #ededed;
}

/* Specific styling and flex for second element */
.start-2 {
    margin-top: 0.7rem;
    height: 35rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/start-2-bg.jpg');
    background-color: #ededed;
}

.start-2-cv, .start-2-title {
    color: #0f0f0f;
}

/* Styling and flex for Portfolio headline/container */
.portfolio-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 6rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    width: 100vw;
    cursor: pointer;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/portfolio-headline-bg.jpg');
    background-color: #0f0f0f;
    background-size: cover;
    color: #ededed;
}

/* Flex text in portfolio header */
.portfolio-header-text {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.portfolio-header-name {
    margin-top: 0.3rem;
}

/* Styling for link button */
.portfolio-header-link-button {
    color: #36e1ff;
    font-size: 1.3rem;
    margin-top: -1rem;
    transition: 0.2s ease;
}

.portfolio-header-link-button:hover {
    color: #2597ab;
}

/* Hidden section header for HTML best practice */
.hidden-header {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Properties for project container */
.project-container {
    display: flex;
    flex-direction: row;
    height: 35rem;
    width: 100vw;
}

/* Flex, background and properties for each project  */
.project {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #ededed;
    filter: brightness(80%);
    transition: filter 0.5s ease, transform 0.5s;
    transform-origin: center center;
}

/* Pseudo-element for projects with background darkening of image */
.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease-in-out;
    z-index: 1;
    pointer-events: none;
}

/* Darken on hover */
.project:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Zoom on hover */
.project:hover {
    transform: scale(1.017);
    z-index: 2;
}

/* Text alignement for text */
.project .project-text {
    margin-top: 3rem;
    text-align: center;
    position: relative;
    z-index: 2;
}

/* Styling for link button */
.project-link-button {
    color: #36e1ff;
    font-size: 1.3rem;
    transition: 0.2s ease;
}

.project-link-button:hover {
    color: #2597ab;
}

/* Images for projects */
.project-1 {
    background-image: url('../images/project-1-bg.jpg');
    margin: 0 0.7rem 0.7rem 0;
}

.project-2 {
    background-image: url('../images/project-2-bg.jpg');
    margin-bottom: 0.7rem;
}

.project-3 {
    background-image: url('../images/project-3-bg.jpg');
    margin: 0 0.7rem 0.7rem 0;
}

.project-4 {
    background-image: url('../images/project-4-bg.jpg');
    margin-bottom: 0.7rem;
}

/* Mobile mode */
@media (max-width: 699px) {
    .start {
        width: 100vw;
    }

    /* Changes to smaller size for mobile */
    .start-1 {
        height: 25rem;
    }

    .start-2 {
        height: 17.85rem;
    }

    .start-text {
        margin-bottom: 1rem;
    }

    .start-link-button, .portfolio-header-link-button, .project-link-button {
        font-size: 1.1rem;
    }
        
    h1, h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 1.2rem;

    }

    .portfolio-header {
        height: 4rem;
        background-color: #070707;
    }

    /* Shifts the link button to the right of portfolio headline  */
    .portfolio-header-text {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
    }

    .portfolio-header-link-button {
        margin: 1rem 0 0 1.5rem;
    }

    /* Changes to smaller size for mobile */
    .project-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 38rem;
    }

    .project-text {
        margin-bottom: 1rem;
    }

    /* Fixed the look of margins in smaller screen */
    .project-1 {
        margin: 0 0 0.7rem 0;
    }
    
    .project-3 {
        margin: 0 0 0.7rem 0;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
    .start {
        width: 100vw;
    }
    
    /* Changes to smaller size for tablet */
    .start-1 {
        height: 30rem;
    }
    
    .start-2 {
        height: 21.42rem;
    }
    
    .start-text {
        margin-bottom: 1rem;
    }

    /* Changed to 1 project per row in column in tablet mode */
    .project-container {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 43rem;
    }
    
    .project-text {
        margin-bottom: 1rem;
    }

    /* Fixed the look of margins in smaller screen */
    .project-1 {
        margin: 0 0 0.7rem 0;
    }
    
    .project-3 {
        margin: 0 0 0.7rem 0;
    }
}