/* font used universally on the website */
* {
    margin: 0px;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* background */
body {
    display: flex;
    flex-direction: column;
    background-color: #F9EBEA;
}

a {
    text-decoration: none;
}

/* main headline */
h1 {
    padding-bottom: 1rem;
    font-family: 'Georama', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

/* property for smaller headlines */
h2 {
    padding-bottom: 1rem;
    font-family: 'Georama', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

/* headline for projects  */
h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 1rem;
}

/* Keeps the start boxes in place */
header {
    margin-left: auto;
    margin-right: auto;
}

/* Keeps the card boxes in place */
section {
    margin-left: auto;
    margin-right: auto;
}

.start-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35rem;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/start-1-bg.jpg');
    background-size: cover;
    color: white;
}

.start-1-name, .start-1-title {
    color: white;
}

.start-1-text {
    margin-top: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.start-link-button {
    color: #b2355c;
    font-size: 1.3rem;
}

.start-link-button:hover {
    color: #621b31;
}

.start-2-cv, .start-2-title {
    color: black;
}

.start-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 35rem;
    width: 100vw;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/start-2-bg.jpg');
    background-size: cover;
    background-color: white;
}

.start-2-text {
    margin-top: 3rem;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
}

.project-container {
    display: flex;
    flex-direction: row;
    height: 35rem;
    width: 100vw;
    /* margin-top: 4rem; */
}

.project {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/start-1-bg.jpg');
    background-size: cover;
    color: white;
}

.project-2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('../images/start-2-bg.jpg');
    background-size: cover;
    background-color: white;
    color: black;
}

.project .project-text {
    margin-top: 3rem;
    text-align: center;
}

.project-link-button {
    color: #b2355c;
    font-size: 1.3rem;
}

.project-link-button:hover {
    color: #621b31;
}

/* Mobile mode */
@media (max-width: 699px) {
/* removes the h1 */
    .welcome-header {
        display: none;
    }
    
    .start-container {
        flex-direction: column;
        align-items: center;
    }

/* scales dynamically */
    .start {
        height: 92%;
        width: 92%;
        margin: 50px auto;
    }

    .start-1 {
        margin: 50px 25px;
        margin-top: 20px;
    }
    
    .start-2 {
        margin: 50px 25px;
        margin-top: -28px;
    }
    
/* 2 cards on a row fix */
    .project-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .project-card {
        width: 40%;
        margin: 2%;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
/* removes the h1 */
    .welcome-header {
        display: none;
    }
    
    .start-container {
        flex-direction: column;
        align-items: center;
    }

/* scales dynamically */
    .start {
        height: 92%;
        width: 92%;
        margin: 50px auto;
    }

    .start-1 {
        margin: 50px 25px;
        margin-top: 20px;
    }

    .start-2 {
        margin: 50px 25px;
        margin-top: -28px;
    }

/* Aligns the element according to .start-2 width */
    .project-headline {
        width: 65%;
        transform: translate(27%, 0%);
    }

/* 2 cards on a row fix */
    .project-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .project-card {
        width: 40%;
        margin: 2%;
    }
}