/* font used universally on the website */
* {
    margin: 0px;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* background */
body {
    display: flex;
    flex-direction: column;
    background-color: #F9EBEA;
}

/* main headline */
h1 {
    padding: 1.2rem;
    text-align: center;
    font-family: 'Georama', Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    color: #F9EBEA;
}

/* property for smaller headlines */
h2, h3 {
    padding-bottom: 1rem;
    text-align: center;
    font-family: 'Georama', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 2.5rem;
    color: #F9EBEA;
}

/* headline for projects  */
h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #131212;
}

/* text under start images */
p {
    padding: 0.5rem; 
    font-size: 1rem;
    font-weight: lighter;  
    color: #F9EBEA;
}

/* Keeps the start boxes in place */
header {
    margin-left: auto;
    margin-right: auto;
}

/* Keeps the card boxes in place */
section {
    margin-left: auto;
    margin-right: auto;
}

.start-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* styles used for both start cards */
.start {
    height: 750px;
    width: 100%;
    min-width: 391px;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

.start-1 {
    margin: 50px 25px 50px 350px;
    background-size: auto;
    background: linear-gradient(to bottom right, #621b31, #b2355c);
}

.start-2 {
    margin: 50px 350px 50px 25px;
    background-size: auto;
    background: linear-gradient(to bottom right, #621b31, #b2355c);
}

/* image for start */
.start-image {
    height: 60%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-color: #131212;
}

.about-headline {
    text-decoration: none;
}

/* lights up "Om mig" to go to contact page */
.about-headline h2:hover {
    transition: color 0.4s;
    color: #b2355c;
}

.cv-headline {
    text-decoration: none;
}

/* lights up "mitt cv" to go to about page */
.cv-headline h2:hover {
    transition: color 0.4s;
    color: #b2355c;
}

/* adds a link to google maps in a new tab upon clicking */
.town-text-link a {
    text-decoration: none;
}

.town-text-link a:hover {
    text-decoration: underline;
    color: #F9EBEA;
}

.project-headline {
    width: 60%;
    transform: translate(33%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    background-size: cover;
    background: linear-gradient(to bottom right, #621b31, #b2355c);
}

.project-headline h2 {
    padding: 1rem;
    display: inline-block;
    margin: 0;
}

/* lights up "projekt" to go to portfolio page */
.project-headline h2:hover {
    transition: color 0.4s;
    color: #b2355c;
}

.project-card-container {
    padding: 0% 11%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* project cards */
.project-card {
    height: 478px;
    width: 100%;
    max-width: 410px;
    min-width: 169px;
    padding-top: 1rem;
    margin: 29px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: auto;
    background-color: #e3d6d6;
}

/* project card images */
.project-card-image {
    height: 330px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-color: #131212;
}

/* buttons */
.button {
    padding: 0.7rem;
    margin: 1.2rem;
    align-self: center;
    width: 9rem;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.4s ease;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 50px;
    border: 1px solid #621b31;
    color: #e3d6d6;
    background: #621b31;
}

/* button hover effect */
.button:hover {
    border: 1px solid #b2355c;
    color: #e3d6d6;
    background-color: #b2355c;
}

/* Mobile mode */
@media (max-width: 699px) {
/* removes the h1 */
    .welcome-header {
        display: none;
    }
    
    .start-container {
        flex-direction: column;
        align-items: center;
    }

/* scales dynamically */
    .start {
        height: 92%;
        width: 92%;
        margin: 50px auto;
    }

    .start-1 {
        margin: 50px 25px;
        margin-top: 20px;
    }
    
    .start-2 {
        margin: 50px 25px;
        margin-top: -28px;
    }
    
/* 2 cards on a row fix */
    .project-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .project-card {
        width: 40%;
        margin: 2%;
    }
}

/* Tablet mode */
@media (min-width: 700px) and (max-width: 1200px) {
/* removes the h1 */
    .welcome-header {
        display: none;
    }
    
    .start-container {
        flex-direction: column;
        align-items: center;
    }

/* scales dynamically */
    .start {
        height: 92%;
        width: 92%;
        margin: 50px auto;
    }

    .start-1 {
        margin: 50px 25px;
        margin-top: 20px;
    }

    .start-2 {
        margin: 50px 25px;
        margin-top: -28px;
    }

/* Aligns the element according to .start-2 width */
    .project-headline {
        width: 65%;
        transform: translate(27%, 0%);
    }

/* 2 cards on a row fix */
    .project-card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .project-card {
        width: 40%;
        margin: 2%;
    }
}