.nav-container {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
}

/* navbar style for normal use */
.nav {
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #621b31;
}

.nav-header {
    display: flex;
}

/* logo redirects back home */
.nav-logo {
    height: 5rem;
    display: flex;
    align-items: center;
    margin-right: auto;
}

/* rotates logo 360 degrees */
@keyframes spin360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* logo will rotate fast 1 time */
.nav-logo:hover {
    animation: spin360 0.6s;
}

/* horizontal long nav menu */
.nav-pages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    font-size: 1.3rem;
}

.nav-pages a {
    display: flex;
    padding: 1.3rem 0.9rem 1.5rem 1.4rem;
    transition: color 0.4s;
    text-decoration: none;
    color: #F9EBEA;
}

.nav-pages a:hover {
    color: #b2355c;
}

.nav-pages a.active {
    color: #131212;
    background-color: #b2355c;
}

/* mobile layout */
@media (max-width: 699px) and (min-width: 300px) {
    .nav-container {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    }

    .nav {
        height: auto;
        background-color: #621b31;
    }

    /* removes the logo */
    .nav-logo {
        display: none;
    }

    /* changes to vertical nav menu */
    .nav-pages {
        width: 100%;
        float: none;
        flex-direction: column;
        text-align: center;
    }

    /* styling and behavior of the vertical nav menu */
    .nav-pages a {
        width: 100%;
        padding: 1rem;
        display: block;
        transition: color 0.4s;
        color: #F9EBEA;
    }

    .nav-pages a:hover {
        color: #b2355c;
    }

    /* fixes active not extending fully to the left side properly */
    .nav-pages a.active {
        padding-left: 2.4rem;
        margin-left: -2.4rem;
        color: #131212;
        background-color: #b2355c;
    }
}

/* tablet layout */
@media (min-width: 700px) and (max-width: 1200px) {

    /* fixes wrong color in the space around nav bar  */
    .nav-container {
        font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    }

    .nav {
        height: 85px;
        width: 600px;
        margin: auto;
        border-radius: 10px;
        background-color: #621b31;
    }

    /* removes the logo */
    .nav-logo {
        display: none;
    }

    /* changes to different nav menu */
    .nav-pages {
        width: 100%;
        text-align: center;
        float: none;
        flex-direction: row;
    }

    /* styling and behavior of the tablet nav menu */
    .nav-pages a {
        width: 70%;
        padding: 1rem;
        display: block;
        transition: color 0.4s;
        color: #F9EBEA;
    }

    .nav-pages a:hover {
        color: #b2355c;
    }

    /* adds purple page indicator */
    .nav-pages a.active {
        padding: 1.9rem;
        border-radius: 10px;
        color: #131212;
        background-color: #b2355c;
    }
}

/* footer */
.footer {
    height: 15rem;
    padding: 1.5rem;
    margin-top: auto;
    text-align: center;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    background-color: #131212;
}

.footer-title {
    font-weight: bold;
    color: #F9EBEA;
}

.footer-content {
    padding: 0.625rem;
}

.footer-content a {
    text-decoration: none;
    color: #F9EBEA;
}

.footer-content a:hover {
    text-decoration: underline;
}

/* COLORS */
/* Dark red #621b31 = nav & button & underline */
/* Red #b2355c = nav>active>background & hover & button */
/* Dark white red #e3d6d6 = element */
/* White red #F9EBEA = text & background */
/* Black #131212 = header & text & nav>active text */