* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.4;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    color: #666;
}

.portfolio {
    background-color: #fff;
    overflow: hidden;
    padding: 20px;
    text-align: right;
}

.portfolio-1 {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
}

.portfolio-2 {
    background-color: #ededed;
}

.portfolio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.link {
    text-decoration: none;
    color: #36e1ff;
    transition: color 0.3s ease;
}

.link:hover {
    color: #2597ab;
}