/* font used universally on the website */
* {
    margin: 0px;
    font-family: 'Manrope', sans-serif;
}

/* background */
body {
    display: flex;
    flex-direction: column;
    background-color: #ededed;
}

p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

/* projekt headlines */
h3 {
    padding-bottom: 0.3rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: lighter;
}

/* styling for headline */
.portfolio-1 h1 {
    padding: 2rem;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 3rem;
    color: #0f0f0f;
}

/* style of <a tag */
.headline {
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    color: #0f0f0f;
}

/* hover effect on <a tag */
.headline:hover {
    transition: color 0.4s;
    text-decoration: none;
    color: #2597ab;
}

/* main box */
.portfolio-1 {
    height: auto;
    width: 50%;
    max-width: 1050px;
    min-width: 300px;
    margin: auto;
}

/* styling for paragraphs */
.project-1 p {
    margin-top: 0.3rem;
    padding: 0.4rem 3rem 5rem 3rem;
    text-align: center;
    font-size: 1.1rem;
    color: #0f0f0f;
}

/* image specifics */
.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-size: cover;
}